.modernLight{
    -fx-background-color: linear-gradient(#ffce9e, #ffe5cc);
}

.modernDark{
    -fx-background-color: linear-gradient(#d18b47, #d1a071);
}

.classicLight{
    -fx-background-color: white;
}

.classicDark{
    -fx-background-color:black;
}

.selected{
    -fx-background-color: #63704d;
}
